body {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro;
}

.navbar-custom {
  border-radius: 0;
  border: 0;
  padding: 6px;
  transition: 0.4s all ease-in-out;
}

.nav-clear {
  background-color: rgba(255, 50, 50, 0);
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.nav-red {
  background-color: rgba(15, 15, 15, 0.5); /*Прозорість*/
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

#brand {
  color: white;
  font-size: 36px;
  font-family: Helvetica;
  text-shadow: 1px 1px 2px black;
}

.navbar-collapse {
  display: flex;
}

.navbar-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-position {
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  border: none;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin: 0;
}

.btn-position:hover,
.btn-position:focus {
  background-color: blueviolet;
}

.navbar-list {
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: white;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-list:hover,
.navbar-list:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #2196f3;
}

.navbar-inverse .navbar-nav > li > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-inverse .navbar-nav > li > a:hover::after {
  opacity: 1;
}
/* .navbar-list:hover,
.navbar-list:focus,
.navbar-inverse .navbar-nav .navbar-list:hover::after {
  color: #2196f3;
  opacity: 1;
} */

/* .navbar-list:hover::after {
  opacity: 1;
} */

.link {
  text-decoration: none;
}

.top-banner {
  background: url('http://www.designbolts.com/wp-content/uploads/2013/02/7-Free-Seamless-wood-patterns-For-3D-Mapping.jpg');
  height: auto;
  padding-top: 160px;
  padding-bottom: 140px;
}
.main {
  background: url('');
  color: white;
  font-family: Helvetica;
  font-size: 20px;
}

.main-title-container {
  margin-top: 20px;
  width: 100%;
  display: inline;
  text-align: center;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.main-title {
  width: 100%;
  font-size: 46px;
  width: 100%;
  text-shadow: 1px 1px 1px black;
}

.secondary-title {
  font-family: Tahoma;
  font-weight: 300;
  letter-spacing: 1px;
}

.store-desc {
  margin-top: 20px;
  text-align: center;
}

.products-btn {
  height: auto;
  font-size: 28px;
  margin-top: 30px;
}

.info {
  padding: 40px;
}

.info-box {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  max-width: 400px;
  padding-bottom: 20px;
}

.info-box-title {
  margin-top: 10px;
  color: rgb(47, 47, 47);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.info-box-caption {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.info-box img {
  text-align: center;
}

.contact {
  padding: 20px;
  border-top: 2px solid rgba(30, 30, 30, 0.5);
}

.map-container {
  margin: auto;
}
.hide {
  display: none;
}
.contact-header {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: rgba(47, 47, 47, 1);
  text-shadow: 1px 1px 3px gray;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

#gmap_canvas {
  width: 100%;
  height: 100%;
  min-height: 250px;
  margin: 3px;
  border: 2px solid rgba(47, 47, 47, 0.7);
}

.hour-container {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.day {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  padding: 0;
  padding-top: 16px;
}

.hour-container .day:nth-child(2) {
  padding-top: 5px;
}

footer {
  height: auto;
  width: 100%;
  background-color: gray;
  border-top: 3px solid rgba(47, 47, 47, 0.6);
}

.footer-box {
  text-align: justify;
  color: white;
  margin-top: 20px;
}
